  
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
        <title>Profile Page</title>
    </head>
    <body class="profilebackground">
        <h2 id="profiletitle">Welcome <%=users.name%>, to your Makeup Bag!</h2>
        <a href="/users/logout">Signout </a>  
            <div class="linkwrapper"> 
                <a href="/review/<%=users.id%>">
                    <div class="reviewlink"> </div>
                </a>            
            </div>

            <div id="reviewsectiontitle">
                Your Reviews:
            </div>

        <div class="review">
                <% for (let i=0; i<users.Reviews.length; i++){                   
                %>
                <b>Brand:</b> <%=users.Reviews[i].brand.name%>
                <b>Product:</b> <%=users.Reviews[i].productName%>
                <b>Product Type:</b> <%=users.Reviews[i].ProductType.name%>
                <b>Category:</b> <%=users.Reviews[i].category.name%>
                <br><br>
                <b>Rating:</b> <%=users.Reviews[i].rating%> 
                <br><br>
                <b>Price:</b> <%=users.Reviews[i].price%> 
                <br><br> 
                <% } %>
        </div>

        <div class="shoppingtitle">
            <span id="brushleft"></span>Ready to go shopping?<span id="brushright"></span>
        </div>    

        <div class="shoppingwrapper">   
            <div class="ultawrapper">
                <a href="https://www.ulta.com/">
                    <div class="ulta"></div> 
                </a>
            </div>  
            <div class="sephorawrapper"> 
                <a href="https://www.sephora.com/">
                    <div class="sephora"></div>
                </a>
            </div>     
        </div>

        <div id="profilesectiontitle"> 
            Your Profile Details:
        </div>

        <div class="profiledetails">
            <form action="/users/profile/<%=users.id%>?_method=PUT" method="POST">
                Name: <input type="text" name="name" value=<%=users.name%> /><br> <br>
                Username: <input type="text" name="username" value=<%=users.username%> /> <br> <br>
                Password: <input type="text" name="password" value=<%=users.password%> /><br> <br>
                <input id="profileeditbutton" type="submit" value="Edit Profile" />
            </form>
            
            <form action="/users/profile/<%=users.id%>?_method=DELETE" method="POST">
                    <input id="profilebuttondelete" type="submit" value="Delete User" />
            </form>

        </div>
        <br><br>
        

        

    </body>
</html>