  
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Welcome <%=users.name%> to your makeup bag!</h1> <!--pg 5 on wireframe-->


    <div class="Ravs"><!--need some type of loop so show reviews?-->
        <form action="/profile/<%=users.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value=<%=users.name%> /><br> <br>
            User name: <input type="text" name="username" value=<%=users.username%> /> <br> <br><!--look at model for info-->
            Password: <input type="text" name="password" value=<%=users.password%> /><br> <br>
            <input type="submit" value="Edit Profile" />
        </form>
    </div>

        <br>



        <div class="edit container">
            <form action="/profile/<%=users.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete User" />
            </form>
        </div>
        <br><br>
        <!-- <a href="/users">View your makeup bag</a>  -->

    </body>
</html>