<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    </head>
    <body>
        <h2>Product Review!</h2>

        
        <form action="_method=PUT" method="POST">
            Category: <select name="categoryId">
                <!--
                <% for (let i=0; i<category.length; i++){
                    let selected = (category[i].id == review.category.id) ? "selected" : "";
                %>
                    <option value ="<%=category[i].id%>" <%=selected%>> <%=category[i].name%></option>
                <% } %>
                -->
            </select>
            Product Type: <select name="product_type_Id">
                <!--
                <% for(let i=0; i<productType.length; i++){ 
                    let selected = (i+1 == review.productType.id) ? "selected" : "";    
                %>
                    <option value="<%=productType[i].id%>" <%=selected%>><%=productType[i].name%></option>
                <% } %>
                -->
            </select>
            Brand Name: <select name="brand_Id">
                <!--
                <% for(let i=0; i<brand.length; i++){ 
                    let selected = (i+1 == review.brand.id) ? "selected" : "";    
                %>
                    <option value="<%=brand[i].id%>" <%=selected%>><%=brand[i].name%></option>
                <% } %>
                -->
            </select>
            Product Name: <input type="text" name="productname" />   
            Price: <input type="integer" name="price" />
            Quality: <input type="integer" name="rating" />
            
            
            <input id="signupsubmitbutton" type="submit" value="SignUp"/>            
        </form>
        <br>


        <br><br>
        <a href="/profile">Return to Profile</a> 

    </body>
</html>


